node_modules
# ML model weights
*.pt
backend/model/
__pycache__/
*.pyc
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz

# Environment variables
.env
backend/.env

# Python virtual env
venv/

# Node modules
node_modules/

# Local tools
.local/
.vscode/
